ExtraTraceConfigFileContent~Array=string=;~TraceLevels:Debug,Warning,Error,Fatal,Info,Performance,Function,Pfd;ManagedStore.MapiDisp:RpcBuffer,RpcOperation,RpcDetail,RpcContextPool;ManagedStore.MapiRpc:General,RpcOperation,FaultInjection;MapiNet:tagCxhPool,tagLocation;ManagedStore.RpcProxy:ProxyAdmin;FilteredTracing:No;InMemoryTracing:No
EnableEmailNotification~bool~true
SMTPSender~string~david@adt.local
SMTPRecipients~array=string=;~david@adt.local
Servers~array=string=;~ADT-E16A;ADT-E16B;ADT-E16C;ADT-E16D
EnableExtraTracing~bool~true 
EnableNetshTrace~bool~true
NetshTraceMaxSize~int~2048
NetshProviderString~string~provider=Microsoft-Windows-TCPIP level=5
NetshScenario~string~netconnection
SaveAllDataPath~string~C:\Users\David\Desktop\Data
EventTaskDisplayNameFilter~string~Topology
EventMessageFilter~string~Microsoft.Exchange.Directory.TopologyService.exe
EventID~int~2080
IssueLimit~int~2