ExtraTraceConfigFileContent~Array=;~TraceLevels:Debug,Warning,Error,Fatal,Info,Performance,Function,Pfd;ManagedStore.MapiDisp:RpcBuffer,RpcOperation,RpcDetail,RpcContextPool;ManagedStore.MapiRpc:General,RpcOperation,FaultInjection;MapiNet:tagCxhPool,tagLocation;ManagedStore.RpcProxy:ProxyAdmin;FilteredTracing:No;InMemoryTracing:No
EnableEmailNotification~bool~true
SMTPSender~string~david@adt.local
SMTPRecipients~array=string=;~david@adt.local
Servers~array=string=;~ADT-E16A;ADT-E16B;ADT-E16C;ADT-E16D
EnableExtraTracing~bool~true 
EnableNetshTrace~bool~true
SaveAllDataPath~string~C:\Users\David\Desktop\Data