ExtraTraceConfigFileContent~Array=string=;~TraceLevelsDebug,Warning,Error,Fatal,Info,Performance,Function,Pfd;ManagedStore.MapiDispRpcBuffer,RpcOperation,RpcDetail,RpcContextPool;ManagedStore.MapiRpcGeneral,RpcOperation,FaultInjection;MapiNettagCxhPool,tagLocation;ManagedStore.RpcProxyProxyAdmin;FilteredTracingNo;InMemoryTracingNo
EnableEmailNotification~Bool~False
SMTPSender~string~david@adt.local
EventID~int~2024
MDBFailureItemTags~Array=int=,~38,39