\.NET CLR Exceptions(*)\*
\.NET CLR Loading(*)\*
\.NET CLR LocksAndThreads(*)\Contention Rate / sec
\.NET CLR Memory(*)\*
\APP_POOL_WAS(*)\*
\ASP.NET Applications(*)\*
\ASP.NET Apps v4.0.30319(*)\*
\ASP.NET v4.0.30319\*
\ASP.NET\*
\Expanded Groups Cache(*)\*
\HTTP Service Request Queues(*)\*
\LogicalDisk(*)\*
\Memory\*
\MSExchange Active Manager Client(*)\*
\MSExchange Active Manager Dag Name Instance(*)\*
\MSExchange Active Manager Server\*
\MSExchange Active Manager(*)\*
\MSExchange ActiveSync\*
\MSExchange Activity Context Resources(*)\*
\MSExchange ADAccess Caches(*)\*
\MSExchange ADAccess Domain Controllers(*)\*
\MSExchange ADAccess Forest Discovery(*)\*
\MSExchange ADAccess Global Counters\*
\MSExchange ADAccess Local Site Domain Controllers(*)\*
\MSExchange ADAccess Processes(*)\*
\MSExchange ADAccess Topology Service\*
\MSExchange Anti-Malware Agent\*
\MSExchange Approval Assistant\*
\MSExchange Approval Framework(*)\*
\MSExchange Assistants - Per Assistant(*)\*
\MSExchange Assistants - Per Database(*)\*
\MSExchange Authentication(*)\*
\MSExchange Availability Service\*
\MSExchange Connection Filtering Agent\*
\MSExchange Content Filter Agent\*
\MSExchange Control Panel\*
\MSExchange Conversations Transport Agent\*
\MSExchange Database ==> Instances(*)\*
\MSExchange Database ==> TableClasses(*)\*
\MSExchange Database Pinger(*)\*
\MSExchange Database(*)\*
\MSExchange Delivery Certificate Validation Cache(*)\*
\MSExchange Delivery Component Latency(*)\*
\MSExchange Delivery Configuration Cache(*)\*
\MSExchange Delivery DSN(*)\*
\MSExchange Delivery End To End Latency(*)\*
\MSExchange Delivery Extensibility Agents(*)\*
\MSExchange Delivery ProxyHubSelector(*)\*
\MSExchange Delivery Routing(*)\*
\MSExchange Delivery SmtpAvailability(*)\*
\MSExchange Delivery SmtpReceive(*)\*
\MSExchange Delivery SmtpSend(*)\*
\MSExchange Delivery Store Driver Agents(*)\*
\MSExchange Delivery Store Driver Database(*)\*
\MSExchange Delivery Store Driver\*
\MSExchange Delivery Store Driver\Inbound\*
\MSExchange Diagnostics Service\*
\MSExchange Encryption Agent\*
\MSExchange HttpProxy Cache(*)\*
\MSExchange HttpProxy Per Array(*)\*
\MSExchange HttpProxy Per Site(*)\*
\MSExchange HttpProxy(*)\*
\MSExchange Mailbox Replication Service Per Mdb(*)\*
\MSExchange Mailbox Replication Service\*
\MSExchange MailTips\*
\MSExchange Managed Folder Assistant\*
\MSExchange MapiHttp Emsmdb\*
\MSExchange MapiHttp Nspi\*
\MSExchange Message Tracking\*
\MSExchange Middle-Tier Storage(*)\*
\MSExchange Network Manager(*)\*
\MSExchange NSPI RPC Client Connections(*)\*
\MSExchange Prelicensing Agent\*
\MSExchange Protocol Analysis Agent\*
\MSExchange Protocol Analysis Background Agent\*
\MSExchange Recipient Cache(*)\*
\MSExchange Recipient DL Expansion Assistant\*
\MSExchange Recipient Filter Agent\*
\MSExchange Store Interface(*)\*
\MSExchange Submission Certificate Validation Cache(*)\*
\MSExchange Submission Component Latency(*)\*
\MSExchange Submission Configuration Cache(*)\*
\MSExchange Submission DSN(*)\*
\MSExchange Submission Extensibility Agents(*)\*
\MSExchange Submission ProxyHubSelector(*)\*
\MSExchange Submission Routing(*)\*
\MSExchange Submission SmtpSend(*)\*
\MSExchange Submission Store Driver Agents(*)\*
\MSExchange Submission Store Driver Database(*)\*
\MSExchange Submission Store Driver\*
\MSExchange Submission\*
\MSExchange Throttling Service Client(*)\*
\MSExchange Throttling(*)\*
\MSExchange Topology(*)\*
\MSExchange Transport Rules(*)\*
\MSExchange WorkloadManagement Classification(*)\*
\MSExchange WorkloadManagement Workloads(*)\*
\MSExchange WorkloadManagement(*)\*
\MSExchangeEdgeSync Synchronizer(*)\*
\MSExchangeEdgeSync Topology\*
\MSExchangeFrontEndTransport Certificate Validation Cache(*)\*
\MSExchangeFrontEndTransport Component Latency(*)\*
\MSExchangeFrontEndTransport Configuration Cache(*)\*
\MSExchangeFrontEndTransport Extensibility Agents(*)\*
\MSExchangeFrontendTransport Proxy Routing Agent\*
\MSExchangeFrontEndTransport ProxyHubSelector(*)\*
\MSExchangeFrontEndTransport Routing(*)\*
\MSExchangeFrontEndTransport Smtp Blind Proxy(*)\*
\MSExchangeFrontEndTransport SmtpAvailability(*)\*
\MSExchangeFrontEndTransport SmtpReceive(*)\*
\MSExchangeFrontEndTransport SmtpSend(*)\*
\MSExchangeInference Classification Latency(*)\*
\MSExchangeInference Model(*)\*
\MSExchangeInference Pipeline(*)\*
\MSExchangeIS Client Type(*)\*
\MSExchangeIS HA Active Database Sender(*)\*
\MSExchangeIS HA Active Database(*)\*
\MSExchangeIS Physical Access(*)\*
\MSExchangeIS Store(*)\*
\MSExchangeTransport Certificate Validation Cache(*)\*
\MSExchangeTransport Component Latency(*)\*
\MSExchangeTransport Configuration Cache(*)\*
\MSExchangeTransport Database(*)\*
\MSExchangeTransport Delivery Failures\*
\MSExchangeTransport DeliveryAgent(*)\*
\MSExchangeTransport DSN(*)\*
\MSExchangeTransport E2E Latency Buckets(*)\*
\MSExchangeTransport End To End Latency(*)\*
\MSExchangeTransport Extensibility Agents(*)\*
\MSExchangeTransport Pickup(*)\*
\MSExchangeTransport Queued Recipients By Age(*)\*
\MSExchangeTransport Queues(*)\*
\MSExchangeTransport Resolver(*)\*
\MSExchangeTransport Routing(*)\*
\MSExchangeTransport Safety Net(*)\*
\MSExchangeTransport ServerAlive(*)\*
\MSExchangeTransport Shadow Redundancy Host Info(*)\*
\MSExchangeTransport Shadow Redundancy(*)\*
\MSExchangeTransport SMTPAvailability(*)\*
\MSExchangeTransport SMTPReceive(*)\*
\MSExchangeTransport SmtpSend(*)\*
\MSExchangeWorkerTaskFramework(*)\*
\MSExchangeWorkerTaskFrameworkLocalDataAccess\*
\MSExchangeWS\*
\Netlogon(*)\*
\Network Interface(*)\*
\Paging File(*)\*
\PhysicalDisk(*)\*
\Process(*)\*
\Processor Information(*)\*
\Processor(*)\*
\RPC/HTTP Proxy Per Server(*)\*
\RPC/HTTP Proxy\*
\Server\*
\System\Context Switches/sec
\System\Processor Queue Length
\TCPv4\*
\TCPv6\*
\VM Memory\*
\VM Processor(*)\*
\W3SVC_W3WP(*)\*
\WAS_W3WP(*)\*
\Web Service(*)\*