ClientProcdumpCollectionEnabled~bool~true
ClientProcdumpBinaryLocation~string~.\procdump.exe
ClientProcdumpProcessName~string~edgeTransport
ClientPerformanceDataCollectionSetEnabled~bool~true
ClientPerformanceDataCollectionSetLogmanName~string~ExchangePerformanceCollection
ClientPerformanceDataCollectionSetCounters~GetContent~.\ClientPerformanceDataCollectionSetCounters.config
ClientPerformanceDataCollectionSetInterval~int~5
ClientPerformanceDataCollectionSetMaxSize~int~4096
ClientLDAPTracingEnabled~bool~true
ClientLDAPTracingLogmanName~string~Client_LDAP_Tracing
ClientLDAPTracingProvider~string~Microsoft-Windows-LDAP-Client 0x1a59afa3 0xff
ClientLDAPTracingMaxSizeMB~int~2048
ClientLDAPTracingStopAfterIssueDetected~bool~true
ActiveDirectoryPerformanceDataCollectorSetEnabled~bool~true
ActiveDirectoryPerformanceDataCollectorSetCounters~GetContent~.\ActiveDirectoryPerformanceDataCollectorSetCounters.config
ActiveDirectoryPerformanceDataCollectorSetInterval~int~3
ActiveDirectoryPerformanceDataCollectorSetMaxSize~int~2048
ActiveDirectoryPerformanceDataCollectorSetLogmanName~string~Active_Directory_Performance_System
ActiveDirectoryDiagnosticsEnabled~bool~true
ActiveDirectoryDiagnosticsAfterIssueOccursOnly~bool~true
ActiveDirectoryPerformanceDataCollectorSetStopAfterDiagnosticsStarted~bool~true
ActiveDirectoryRemoteCrenditalsNotNeeded~bool~false
MonitorCounterTypeEnabled~bool~true
MonitorCounterTypeCounterName~string~MSExchangeTransport Queues(_total)\Submission Queue Length
MonitorCounterTypeAverageThreshold~double~500.00
MonitorCounterTypeMaxThreshold~double~550.00
MonitorCounterTypeThresholdType~string~GreaterThan
MonitorCounterTypeMaxSamples~int~10
MonitorCounterTypeSleepInSeconds~int~1
MailNotificationEnabled~bool~true
MailNotificationSender~string~david@adt.local
MailNotificationRecipients~array=string=;~david@adt.local;ExchangeUser1@adt.local
MailNotificationSmtpServers~array=string=;~ADT-E16A;ADT-E16B;ADT-E16C;ADT-E16D
MailNotificationRequireCredentials~bool~false
MailNotificationMessageSubject~string~Active Directory and Client Tracing
ActiveDirectoryServers~array=string=;~ADT-DC1
ActiveDirectorySavePath~string~C:\PerfLogs
ClientServers~array=string=;~ADT-E16A;ADT-E16B;ADT-E16C;ADT-E16D
ClientSaveAllDataPath~string~.\TestData
MinutesToContinueDataCollectionAfterIssueDetected~int~8
MinutesWaitDurationBetweenIssues~int~5
MinimizeIssueScriptEnabled~bool~true
MinimizeIssueScriptPath~string~.\Invoke-MinimizeIssue.ps1
IssueCount~int~3