ExtraTraceConfigFileContent~Array=string=;~TraceLevels:Debug,Warning,Error,Fatal,Info,Performance,Function,Pfd;ManagedStore.MapiDisp:RpcBuffer,RpcOperation,RpcDetail,RpcContextPool;ManagedStore.MapiRpc:General,RpcOperation,FaultInjection;MapiNet:tagCxhPool,tagLocation;ManagedStore.RpcProxy:ProxyAdmin;FilteredTracing:No;InMemoryTracing:No
Servers~array=string=;~ADT-E16A;ADT-E16B
EnableExtraTracing~bool~true 
EnableNetshTracing~bool~true
NetshTraceMaxSize~int~2048
NetshScenario~string~netconnection
SaveAllDataPath~string~C:\Users\David\Desktop\Data